button:not(.btn):not(.btn-flat) {
  height: 50px;
  font-weight: bold;
  font-family: JetBrains_Mono;
  font-size: 20px;
  border: none;
  height: 50px !important;
  margin-bottom: 5px;

  &.main {
    background-color: $blue;
    color: white;
  }

  &.info {
    border: 2px solid $blue;
    color: $blue;
  }

  &.alert {
    border: 2px solid red;
    color: red;
  }

  &.full {
    width: 100%;
  }

  &.medium {
    width: 50%;
  }

  &.small {
    width: 30%;
  }
}