button {
  height: 50px;
  font-weight: bold;
  font-family: JetBrains_Mono !important;
  font-size: 20px !important;
  border: none;

  &.main {
    background-color: $blue;
    color: white;
  }

  &.info {
    border: 2px solid $blue;
    color: $blue;
  }

  &.alert {
    border: 2px solid red;
    color: red;
  }

  &.full {
    width: 100%;
  }

  &.medium {
    width: 50%;
  }

  &.small {
    width: 30%;
  }
}