.login-form {
  margin: 100px auto;
  width: 500px;
  height: 600px;
  background-color: white;

  padding: 40px 40px !important;

  #title {
    font-size: 40px;
    font-family: LaoMN;
    color: $blue;
    text-align: center;
  }
}

 @media (max-width: $breakpoint-tablet) {
   .login-form {
     margin: 100px 15px;
   }
 }