.side-nav {
  float: left;
  height: 100vh;
  width: 210px;
  position: relative;
  z-index: 1;
  background-color: #025072;
  overflow-x: hidden;
  padding-top: 20px;

  .center {
    padding: 0px 10px;
    margin: 0px auto;
  }

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    text-align: left;
  }

  a.header {
    margin-bottom: 10px;
    font-family: KhmerMN;
    font-size: 32px;
  }

  a:hover {
    color: #f1f1f1;
  }

  a > i {
    vertical-align: middle;
  }
}

@media (max-width: $breakpoint-tablet) {
  .side-nav {
    width: 80px !important;
  }
}