<nav>
  <div class="nav-wrapper">
    {{!-- <ul class="left">
      <li><a onclick="closeNav()"><i class="material-icons">arrow_back</i></a></li>
    </ul> --}}
    <ul class="right">
      <li><a class="waves-effect waves-block waves-light" onclick="toggleFullScreen()"><i class="material-icons">settings_overscan</i></a></li>
      <li><a id="notifications" onclick="window.alert('Not finished')"><i class="material-icons">notifications</i></a></li>
      <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
    </ul>
  </div>
</nav>

<script>
  function toggleFullScreen() {
    if (!document.fullscreenElement) {
      document.documentElement.requestFullscreen();
    } else {
      if (document.exitFullscreen) {
        document.exitFullscreen();
      }
    }
  }
</script>