<div class="side-nav">
  <div class="center">
    <a href="" class="header">
      <i class="material-icons show-on-med-and-down hide-on-med-and-up">spa</i>
      <span class="hide-on-med-and-down side-title">Admin Portal</span>
    </a>
    <a href="/a/dashboard" class="{{dashboard}}">
      <i class="material-icons">dashboard</i>
      <span class="hide-on-med-and-down side-title">Dashboard</span>
    </a>
    <a href="/a/manage-accounts" class="{{maccouonts}}">
      <i class="material-icons">group</i>
      <span class="hide-on-med-and-down side-title">Manage Accounts</span>
    </a>
    <a href="/a/records" class="{{records}}">
      <i class="material-icons">access_time</i>
      <span class="hide-on-med-and-down side-title">Records</span>
    </a>
    <a href="/a/profile" class="{{records}}">
      <i class="material-icons">settings</i>
      <span class="hide-on-med-and-down side-title">Profile Settings</span>
    </a>
  </div>
</div>