<div class="row">
  <div class="col l4 m6 s12">
    <span class="title">New Members Joined</span>
  </div>
  <div class="col l4 m6 s12">
    <span class="title">New Records Added</span>
  </div>
  <div class="col l4 m12 s12">
    <span class="title">Online Users</span>
  </div>
</div>

<div class="row">
  <div class="col l12 m12 s12">
    {{> _recordTable}}
  </div>
</div>