<div class="row">
  <div class="col l4 m6 s12">
    <span class="title">New Members Joined</span>
    <span class="data">{{new_users_added}}</span>
  </div>
  <div class="col l4 m6 s12">
    <span class="title">New Records Added</span>
    <span class="data">{{new_records_added}}</span>
  </div>
  <div class="col l4 m12 s12">
    <span class="title">Online Users</span>
    <span class="data">{{total_online}}</span>
  </div>
  <div class="col l12 m12 s12">
    {{> _recordTable}}
  </div>
</div>
