<p id="title">Admin Portal</p>
<br>
<br>
<form method="post">
  <div class="input-field">
    <label for="email">Email Address</label>
    <input class="validate" type="email" name="email" id="email">
  </div>
  <div class="input-field">
    <label for="password">Password</label>
    <input class="validate" type="password" name="password" id="password">
  </div>
  <button type="submit" class="main full">Login</button>
  <center><a href="https://ydrc-vtms.herokuapp.com">Go back to normal login</a></center>
</form>
{{> _msg}}